html, body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: unset;
}
body{
    margin: 0;
    /* font-family: 'Lato','sans-serif','Segoe UI', 'Tahoma', 'Geneva', 'Verdana'; */
    font-size: 18px;
}

/* colors */
.dom-fg{
    color: #4faafc;
}
.dom-bg{
    background: #4faafc;
}
.white-fg{
    color: white;
}
.centered{
    width: fit-content;
    margin: auto;
}

/* main page */
.container{
    max-width: 1400px;
    margin: auto;
    z-index: 10000;
    overflow-x: hidden;
}
.section-header{
    border-bottom: 4px solid #444649;
    animation: slideInLeft .75s ease both;
    font-size: 25pt;
    position: relative;
    color: #444649;
    position: relative;
}

/*intro section*/
.intro-section{
    height: auto;
    min-height: 100vh;
    position: relative;
    background: #252934;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.name{
    top: 5%;
    left: 0;
    color: #E31B6D;
    font-size: 22px;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    margin: 0;
}
.message-div{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.bold-message{
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 3px;
    max-width: 220px;
    margin: 20px auto;
    text-align: center;
    color: white;
}
.light-message{
    letter-spacing: 2px;
    font-size: 20px;
    max-width: 80%;
    color: white;
    text-align: center;
    margin: auto;
    margin-bottom: 15%;
}
.explore-div{
    bottom: 5%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.explore-div button{
    border: 1px solid white;
    height: 40px;
    border-radius: 3px;
    background: inherit;
    color: white;
    font-size: 18px;
}
.explore-div svg{
    height: 50px;
    width: 40px;
    transform: rotate(45deg);
    position: relative;
    animation-name: bounce;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 10;
    animation-direction: alternate;
    animation-timing-function: ease-out;
}

/* about section */
.about-section{
    background: #f5f5f5;
    padding: 50px 0;
}
.lt-col, .rt-col{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lt-col-child{
    width: 85%;
    margin-bottom: 30px;
}
.img-div{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
}
.img-div img{
    width: inherit;
    height: inherit;
    border-radius: 50%;
    object-fit: cover;
}
.role{
    text-align: center;
    font-size: 28px;
    color: #444649;
    font-weight: 500;
    width: 100%;
    margin: 15px 0;
}
.fst{
    display: flex;
    align-items: center;
    max-width: 320px;
}
.fst i{
    color: #e31b6d;
    font-size: 50px;
    padding: 0 10px;
}
.fst span{
    line-height: 15pt;
}
.bars{
    width: 100%;
    margin-bottom: 20px;
}
.bar{
    width: 100%;
    background: #a7c1a5;
    height: 28px;
    font-size: 12px;
    margin: 10px 0;
    color: white;
    padding-right: 10px;
}
.pct{
    background: #478643;
    height: inherit;
    animation-name: slide;
    animation-duration: 3s;
    animation-name: grow;
}
.eighty{
    width: 80%
}
.eighty-five{
    width: 85%;
}
.ninety{
    width: 90%;
}
.ninety-five{
    width: 95%;
}
.ninety-eight{
    width: 98%;
}
.sixty{
    width: 60%;
}
.sixty-five{
    width: 65%;
}
.fifty-five{
    width: 55%;
}
.fifty{
    width: 50%;
}
.seventy{
    width: 70%;
}
.seventy-five{
    width: 75%;
}
.name-bar{
    width: 100px;
    background: #2a4b27;
    height: inherit;
    height: 28px;
    font-size: 12px;
    color: #ffffff;
}
.score{
    text-align: right;
    flex-grow: 1;
    color: #666;
}
.cv-btn{
    border: 1px solid #e31b6d;
    border-radius: 3px;
    background: inherit;
    color: #e31b6d;
    font-size: 18px;
    float: right;
    cursor: pointer;
    padding: 10px;
}

/* -------------------- project section ------------------ */
.project-section, .projects{
    width: 100%;
    background: #e8d2ac;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.project-section{
    padding-bottom: 50px;
}
.project{
    width: 100%;
    height: 250px;
    cursor: pointer;
    overflow: hidden;
    background: white;
}
.liveizy-project{
    background: url('../image/liveizy-advert.jpeg') center center/cover;
}
.edms-project{
    background: url('../image/tbh.jpg') center center/cover;
}
.propertypro{
    background: url('../image/proppro-landing - Copy.PNG') center center/cover;
}
.arvolanding{
    background: url('../image/prepschool2.png') center center/cover;
}
.propro-api{
    background: url('../image/propro-api.PNG') center center/cover;
}
.storemanager{
    background: url('../image/storemanager.PNG') center center/cover;
}
.propro-ui{
    background: url('../image/seyisbox.PNG') center center/cover;
}
.pd{
    padding: 5%;
}
.project-detail{
    background: #f5f5f5;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.project-detail:hover{
    opacity: 1;
}



/* ------------------- contact section ----------------- */
.contact-section{
    background: #252934;
    width: 100%;
    padding: 5px;
    color: white;
}
.contacts-header{
    width: fit-content;
    margin: 20px auto 60px;
    color: white;
    border-bottom: 4px solid white;
}
.contact-sec{
    min-height: 50vh !important;
}
.avail{
    width: 100%;
    text-align: center;
}
.sm-icon{
    width: 80px;
    height: 70px;
    cursor: pointer;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 350px) {
    .bold-message{
        font-size: 55px;
        letter-spacing: 3px;
    }
    .project{
        min-width: 288px;
        max-width: 310px;
    }
}
@media screen and (min-width: 450px) {
    .light-message{
        margin-bottom: 10%;
    }
    .pd-md{
        padding: 15px;
    }
}
@media screen and (min-width: 700px) {
    .light-message{
        max-width: unset;
    }
    .bold-message{
        font-family: 'Roboto', 'sans-serif';
        font-weight: 500;
        max-width: 620px;
        line-height: 60px;
    }
    .about-section{
        display: flex;
        width: 100%;
    }
    .bars {
        margin-bottom: 60px;
    }
    .lt-col{
        width: 50%;
    }
    .rt-col{
        width: 60%;
        justify-content: start;
    }
    .fst {
        justify-content: start;
        text-align: left;
        width: 100%;
        max-width: 300px;
        height: 70px;
    }
    .project{
        width: 33.3%;
        max-width: unset;
        height: 250px;
    }
}

@media screen and (min-width: 850px){
    .pd-lg{
        padding: 5%;
    }
}

@-webkit-keyframes bounce {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes bounce {
    from {opacity: 1;}
    to {opacity: 0;}
}

/*@-webkit-keyframes slide {
    from {transform: translate(-20px, 0);}
    to {transform: translate(0, 0);}
}
@keyframes slide {
    from {padding-right: 100px;}
    to {padding-right: 0;}
}
*/

/*@-webkit-keyframes grow {
    from {width: 0;}
    to {width: 100%;}
}
@keyframes grow {
    from {width: 0;}
    to {width: 100%;}
}*/